<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Let&apos;s grow old, grow sweet potatoes and mlik cows together.

If you get the reference please move to the front of the line.🎵</string>
	<string>Two truths and a lie:

- I&apos;ve been on the terrorist watch list

- I have a twin brother

- I&apos;ve delivered a baby on international waters</string>
	<string>I&apos;d rather be on an airplane to anywhere and I hate boring dates, instead let&apos;s:

- Get drunk and go to the art museum.

- Pretend to be a 1% couple and check out million dollar condo open houses. Cocktail dress mandatory.

- BONUS mystery date, enquire within for details. </string>
	<string>If you want the 🍆 let me know
If I’m not hitting the way you want, let me know
She who speaks, gets the 🍆 and gets it good
She who keeps quiet will go home to masturbate
</string>
	<string>Christmas is coming up, take me home with you! I can accompany you to dinner and we can pretend we met at a soup kitchen or wherever.

I&apos;ll wear a nice sweater, bring along a nice bottle of wine and charm your family. 

Enquire within for pricing.
</string>
	<string>Domoire / Darrell. Rarely bored. Un crowned king of the internet. Leave a message after the beep.</string>
</array>
</plist>
