<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>For a good time call 555-867-5309</string>
	<string>Which bookstore did I meet you at?</string>
	<string>Which bar did I meet you at?</string>
	<string>Which bus stop did I meet you at?</string>
	<string>What&apos;s your unpopular opinion?</string>
	<string>Wawa is a trash store</string>
	<string>🍆🍆🍆🍆🍆🍆🍆</string>
	<string>🍑🍑🍑🍑🍑🍑🍑</string>
	<string>🔥🔥🔥🔥🔥🔥🔥</string>
	<string>&lt;insert joke here&gt;</string>
	<string>Hi, I&apos;m Darrell</string>
	<string>Swip left, swipe right, they all match</string>
	<string>Remember we had a whole olympics in 2018?</string>
	<string>I knew you&apos;d come here</string>
	<string>You&apos;re about to become my favorite daydream</string>
	<string>You&apos;re about to become my favorite distraction</string>
	<string>I prefer good sex to gold</string>
</array>
</plist>
